{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "richtext",
        "id": "footer_copy",
        "label": "Footer Copy"
      },
      {
        "type": "text",
        "id": "footer_link_url",
        "label": "Footer link URL"
      }
    ]
  }
{% endschema %}


<footer class="footer">
  <div class="footer-container">
  {% if section.settings.footer_copy != blank %}
    <div class="footer-copy">
      {{ section.settings.footer_copy }}
    </div>
  {% endif %}

  {% if section.settings.footer_link_url != blank %}
    <div class="footer-link">
      <a href="{{ section.settings.footer_link_url }}" title="GOTO changelog.com">changelog.com</a>
    </div>
  {% endif %}
  </div>
</footer>
