{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "richtext",
        "id": "footer_copy",
        "label": "Footer Copy",
        "default": "<p>Simply the best threads for developers</p>"
      },
      {
        "type": "text",
        "id": "footer_link_url",
        "label": "Footer link URL",
        "default": "https://changelog.com"
      }
    ]
  }
{% endschema %}


<footer class="footer">
  <div class="footer-container">
    {% if section.settings.footer_copy != blank %}
      <div class="footer-copy">
        {{ section.settings.footer_copy }}
      </div>
    {% endif %}

    <div class="footer-link">
      <a href="{{ section.settings.footer_link_url }}" title="GOTO changelog.com">changelog.com</a>
    </div>
  </div>
</footer>
