@mixin button($background, $color) {
  background-color: $background;
  border: none;
  border-radius: $base-border-radius;
  color: $color;
  font-family: $sans-serif;
  font-weight: bold;
  padding: 0.625em 0.825em 0.5em;
  transition: background-color 0.1s ease-in-out;

  &:hover { background-color: darken($background, 10%); }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
}

.button {
  @include button($green, $white);
}

.button_large {
  @include button($green, $white);
  display: inline-block;
  font-size: 1.1875em;
  margin-bottom: 1em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
