{% assign productCount = collection.products|size %}
{% if productCount == 1 %}
  <script>window.location.href= '{{ collection.products[0].url }}'</script>
{% endif %}

<div class="masthead">
  <h1 class="masthead-title">{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <div class="masthead-description">
      <p>{{ collection.description }}</p>
    </div>
  {% endif %}
</div>

<div class="product_list">
  {% for product in collection.products %}
    {% include 'product_list-item' %}
  {% endfor %}
</div>
